/x64
/x86
/Library/x64
/Library/x86
/Wintexports/WIE_CRT/x64
/Wintexports/WIE_CRT/x86
/Wintexports/WIE_CRT_x86/x86
/Wintexports/WIE_DllStubs/x64
/Wintexports/WIE_DllStubs/x86
/Wintexports/WIE_Example/x64
/Wintexports/WIE_Example/x86

*.user
*.aps
